body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

nav button {
  padding: 8px 15px;
  border: none;
  background: #1e293b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* BUTTONS */
button {
  background: #22c55e;
  border: none;
  padding: 10px;
  margin-top: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CART ICON */
.cart-icon {
  position: fixed;
  right: 15px;
  top: 15px;
  background: #22c55e;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1100;
}

/* CART PANEL */
.cart-box{
  position: fixed;
  top: 0;
  right: -320px; /* hidden */
  width: 300px;
  height: 100vh;
  background: #020617;
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  box-shadow: -5px 0 20px rgba(0,0,0,0.4);
}

/* OPEN */
.cart-box.active{
  right: 0;
}

/* CART ITEMS */
.cart-item {
  margin-bottom: 10px;
}

/* CLOSE BUTTON */
.close-cart {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}

.close-cart:hover {
  color: #ef4444;
  transform: scale(1.2);
}
